################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/GUIElements/obj/x64/Debug/*
/GUIElements/bin/x64/Debug/*

/playprojects/FITS/obj/Debug/*
/playprojects/FITS/obj/Debug/*
/playprojects/FITS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/playprojects/FITS/obj/Debug/FITS.vbproj.FileListAbsolute.txt
/playprojects/FITS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/playprojects/FITS/obj/Debug/FITS.vbproj.FileListAbsolute.txt
/playprojects/FITS/.vs/FITS/v16/Server/sqlite3/*
